


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="myApp.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl as controller">
		<div class="jumbotron text-center">
		  <h1>Upcoming Events</h1>
		  <p>Using AngularJS, show only events that are Upcoming. Hide any past Events</p> 
		  <p>{{controller.currentDate | date:'MM/dd/yyyy'}}
		</div>
	  
		<div class="container">
		  <div class="row" ng-repeat="event in controller.events">
		    <div class="col-sm-4" ng-show="controller.currentDate < event.date">
		      <h3>{{event.name}}</h3>
		      <p>Event Date: {{event.date | date:'MM/dd/yyyy'}}</p>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>
